[submodule "pr2_pretouch_optical_dist"]
	path = pr2_pretouch_optical_dist
	url = https://bitbucket.org/uwsensors/pr2_pretouch_optical_dist.git
[submodule "pr2_ethercat_drivers"]
	path = pr2_ethercat_drivers
	url = https://bitbucket.org/uwsensors/pr2_ethercat_drivers.git 
  branch = hydro-fingersensors
[submodule "pr2_robot"]
	path = pr2_robot
	url = https://github.com/PR2/pr2_robot
