<!-- Launches crop image   -->

<launch>
<!-- <param name="/use_sim_time" value="true"/> -->

   <node pkg="trooper_multisense" type="crop_image" name="crop_image" output="screen">    
    <param name="object_name" value="drc_trials_dewalt_drill_2" />
    <remap from="/image" to="/multisense_sl/camera/left/image_rect" />
    <remap from="/trigger_message" to="/ap_ms/run_object_detection" />     
    </node>   
  
   
</launch>
