<launch>
  <arg name="debug_shelf" default="false" /> <!-- If true, doesn't run shelf localization. -->
  <arg name="debug_crop" default="false" /> <!-- If true, doesn't run shelf cropping. -->
  <arg name="debug_openni" default="false" /> <!-- If true, doesn't run openni. -->
  <arg name="alternate_kinect_frames" default="false" />
  <node name="festival_tts" pkg="festival_tts" type="speak.py" />
  <node name="pr2_pick_inventory" pkg="pr2_pick_contest" type="inventory.py" args="$(find pr2_pick_contest)/config/random1.json" />
  <include file="$(find pr2_pick_manipulation)/launch/manipulation.launch" />
  <include file="$(find pr2_pick_perception)/launch/perception.launch">
    <arg name="debug_shelf" value="$(arg debug_shelf)" />
    <arg name="debug_crop" value="$(arg debug_crop)" />
    <arg name="debug_openni" value="$(arg debug_openni)" />
    <arg name="alternate_kinect_frames" value="$(arg alternate_kinect_frames)" />
  </include>
</launch>
