<launch>
  <arg name="debug_shelf" default="false" />
  <arg name="debug_crop" default="false" />
  <arg name="alternate_kinect_frames" default="false" />
  <!--node name="sound_play_node" pkg="sound_play" type="soundplay_node.py" /--> <!-- Already started by the robot -->
  <node name="festival_tts" pkg="festival_tts" type="speak.py" />
  <node name="pr2_pick_inventory" pkg="pr2_pick_contest" type="inventory.py" args="$(find pr2_pick_contest)/config/milestone_1.json" />
  <include file="$(find pr2_pick_manipulation)/launch/manipulation.launch" />
  <include file="$(find pr2_pick_perception)/launch/perception.launch">
    <arg name="debug_shelf" value="$(arg debug_shelf)" />
    <arg name="debug_crop" value="$(arg debug_crop)" />
    <arg name="alternate_kinect_frames" value="$(arg alternate_kinect_frames)" />
  </include>
</launch>
