<!-- load standalone multisense with ranger -->
<launch>
  <!-- Use sim time -->
  <param name="/use_sim_time" type="bool" value="true"/>

   <!-- start gazebo with the Atlas -->
  <node name="gazebo" pkg="drcsim_gazebo" type="run_gazebo" args="$(find Amazon_worlds)/worlds/box_view1.world" output="screen" />

  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find Amazon_models)/multisense_standalone/multisense_standalone.urdf"/>

  <include file="$(find drcsim_gazebo)/launch/atlas_bringup.launch"/>

  <!-- start spinning lidar -->
  <node type="rostopic" pkg="rostopic" name="spindle_init_speed" args="pub /multisense_sl/set_spindle_speed std_msgs/Float64 0.2 --once" output="screen"/>


</launch>
